Repository dom-and-the-night-owls/requestbin, pull requests merged in 2025-05, with the labels that each got.

#30 Basket Component State implementation
  frontend/src/App.tsx
  frontend/src/components/Basket/Basket.css
  frontend/src/components/Basket/Basket.tsx
  frontend/src/components/Basket/index.tsx
  frontend/src/services/requestBinAPI.ts
  frontend/src/utils.ts
Labels: frontend

#37 FIX: CreateBasket component works with mock API
  frontend/src/App.tsx
  frontend/src/components/CreateBasket/CreateBasket.tsx
Labels: frontend

#38 Generate name and token
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/postgresql.ts
  backend/src/routes/api.ts
  backend/src/types.ts
  backend/src/utils.ts
Labels: backend

#58 CHORE: mui migration optimisations + icon import
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Baskets/Baskets.tsx
  frontend/src/components/Nav/Nav.tsx
Labels: frontend

#61 FEAT!: added ENV conditional to control which router is started
  backend/package.json
  backend/src/main.ts
Labels: bug, backend

#65 CHORE: delete css files
  frontend/src/components/Basket/Basket.css
  frontend/src/components/Basket/Basket.tsx
  frontend/src/components/Baskets/Baskets.css
  frontend/src/components/Request/Request.css
Labels: frontend

#62 Add new basket
  backend/package.json
  backend/schema.sql
  backend/src/controllers/postgresql.ts
  backend/src/routes/api.ts
  backend/src/types.ts
  backend/src/utils.ts
Labels: backend

#64 FIX: fixed typo for `npm run mock` comment
  backend/src/main.ts
Labels: backend

#68 CHORE: Added basic info to README
  README.md
Labels: documentation

#66 Baskets component width fix
  frontend/src/App.tsx
  frontend/src/components/Baskets/Baskets.tsx
  frontend/src/theme.ts
Labels: frontend

#74 Basket component mui migration
  frontend/src/App.tsx
  frontend/src/components/Basket/Basket.tsx
  frontend/src/components/EmptyBasketContent/EmptyBasketContent.tsx
  frontend/src/components/EmptyBasketContent/index.ts
  frontend/src/components/Request/Request.tsx
  frontend/src/components/RequestList/RequestList.tsx
  frontend/src/components/RequestList/index.ts
Labels: frontend

#75 FIX: Fixed React error for mapped component without key props
  frontend/src/components/Request/Request.tsx
Labels: bug, frontend

#83 fix: fixed basket name validation
  backend/src/routes/api.ts
Labels: bug, backend

#82 Formatted json styling
  frontend/src/components/Request/Request.tsx
  frontend/src/components/StyledJSONTree/StyledJSONTree.tsx
  frontend/src/components/StyledJSONTree/index.ts
Labels: enhancement, frontend

#76 Basket url copy button
  frontend/src/components/Basket/Basket.tsx
Labels: enhancement, frontend

#88 FEAT: Added patterned css background image
  frontend/src/App.tsx
  frontend/src/theme.ts
Labels: enhancement, frontend

#91 CHORE: minor Baskets component UI changes.
  frontend/src/components/Baskets/Baskets.tsx
Labels: frontend

#92 Create basket UI update
  frontend/src/components/Baskets/Baskets.tsx
  frontend/src/components/CreateBasket/CreateBasket.tsx
  frontend/tsconfig.app.json
Labels: frontend

#99 FIX: Bug where requests weren't saved in mongo
  backend/src/controllers/mongo.ts
Labels: backend

#94 Error handling fix
  frontend/src/App.tsx
  frontend/src/components/Basket/Basket.tsx
  frontend/src/components/CreateBasket/CreateBasket.tsx
  frontend/src/utils.ts
Labels: frontend

#101 FEAT: Delete Basket button added
  frontend/src/components/Basket/Basket.tsx
Labels: frontend

#105 Delete basket
  backend/src/controllers/postgresql.ts
  backend/src/routes/api.ts
  backend/src/routes/hook.ts
  backend/src/types.ts
  backend/src/utils.ts
Labels: backend

#107 CHORE: refactored MyBaskets component
  frontend/src/App.tsx
  frontend/src/components/Baskets/Baskets.tsx
  frontend/src/components/Baskets/index.tsx
  frontend/src/components/MyBaskets/MyBaskets.tsx
  frontend/src/components/MyBaskets/index.tsx
Labels: frontend

#102 Clear basket
  frontend/src/App.tsx
  frontend/src/components/Basket/Basket.tsx
  frontend/src/utils.ts
Labels: frontend

#116 Frontend-backend integration
  backend/src/routes/api.ts
  frontend/src/components/Basket/Basket.tsx
  frontend/src/components/CreateBasket/CreateBasket.tsx
  frontend/src/components/Request/Request.tsx
  frontend/src/services/requestBinAPI.ts
  frontend/src/types.ts
  frontend/src/utils.ts
Labels: backend, frontend

#121 Revert temp fix
  frontend/src/components/Request/Request.tsx
  frontend/src/services/requestBinAPI.ts
Labels: frontend

#130 Feat: UI update
  frontend/src/App.tsx
  frontend/src/components/Basket/Basket.tsx
  frontend/src/components/CreateBasket/CreateBasket.tsx
  frontend/src/components/StyledJSONTree/StyledJSONTree.tsx
  frontend/src/theme.ts
Labels: frontend

#136 CHORE: Update requestBinAPI
  .gitignore
  frontend/src/services/requestBinAPI.ts
Labels: frontend

#140 Basket UI fix
  .gitignore
  frontend/src/components/Basket/Basket.tsx
  frontend/src/components/Dialog/Dialog.tsx
  frontend/src/components/EmptyBasketContent/EmptyBasketContent.tsx
  frontend/src/components/Nav/Nav.tsx
  frontend/src/components/Request/Request.tsx
  frontend/src/components/RequestList/RequestList.tsx
Labels: frontend

#141 Baskets validation api
  frontend/src/services/requestBinAPI.ts
Labels: frontend

#143 FEAT: Logo update
  frontend/public/RequestBin_Icon.svg
  frontend/public/RequestBin_Icon_100x100.png
  frontend/public/RequestBin_Icon_512x512.png
  frontend/src/components/LogoIcon/LogoIcon.tsx
  frontend/src/components/LogoIcon/index.ts
  frontend/src/components/Nav/Nav.tsx
Labels: frontend

#144 FIX: Fab animation
  frontend/src/App.tsx
  frontend/src/components/MyBasketsFab/MyBasketsFab.tsx
Labels: frontend

#146 FIX: Update endpoint key name
  frontend/src/services/requestBinAPI.ts
Labels: frontend

#152 Convert alerts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Basket/Basket.tsx
  frontend/src/components/CreateBasket/CreateBasket.tsx
  frontend/src/main.tsx
  frontend/src/utils.ts
Labels: frontend

#153 CHORE: Removed the window.confirm for clearing baskets
  frontend/src/components/Basket/Basket.tsx
Labels: frontend

#154 Mobile scaling
  frontend/src/App.tsx
  frontend/src/components/Basket/Basket.tsx
  frontend/src/components/EmptyBasketContent/EmptyBasketContent.tsx
  frontend/src/components/Nav/Nav.tsx
  frontend/src/components/Request/Request.tsx
  frontend/src/components/RequestList/RequestList.tsx
Labels: frontend

#155 Create link text style
  frontend/src/components/CreateBasket/CreateBasket.tsx
  frontend/src/components/MyBaskets/MyBaskets.tsx
Labels: frontend

#167 FIX: Poor contrast on hover for MyBasket menu components
  frontend/src/components/MyBaskets/MyBaskets.tsx
Labels: frontend

#166 FIX: catch all router path
  backend/src/main.ts
Labels: backend

#164 CHORE: added UI screenshots
  README.md
  assets/basket_delete.png
  assets/basket_empty.png
  assets/basket_request_json.png
  assets/create_basket.png
  assets/my_baskets.png
Labels: documentation

#170 FEAT: Update README.md
  README.md
Labels: documentation

#165 Runtime type checking
  frontend/src/services/apiService.ts
  frontend/src/types.ts
  frontend/src/utils.ts
Labels: frontend

#172 Local storage hook
  backend/schema.sql
  backend/src/controllers/postgresql.ts
  frontend/src/App.tsx
  frontend/src/components/Basket/Basket.tsx
  frontend/src/components/CreateBasket/CreateBasket.tsx
  frontend/src/components/MyBaskets/MyBaskets.tsx
  frontend/src/hooks/useLocalStorageState/index.ts
  frontend/src/hooks/useLocalStorageState/useLocalStorageState.ts
  frontend/src/utils.ts
Labels: backend, frontend

#173 Visual fixes
  frontend/src/components/Basket/Basket.tsx
  frontend/src/components/Request/Request.tsx
  frontend/src/components/StyledJSONTree/StyledJSONTree.tsx
Labels: frontend

#174 FIX: Moved pgDatabaseInit to `./src/`
  backend/package.json
  backend/src/pgDatabaseInit.ts
Labels: backend

#181 FEAT: API health check path
  backend/src/routes/api.ts
Labels: backend
